.containerr {
  margin: 0px 5rem;
  width: auto;
}
section {
  padding: 3rem 0;
}
.roww {
  display: flex;
}
.roww>div {
  flex: 1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.section-title {
  margin-bottom: 1.5rem;
}
/* .card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto, 1fr);
} */

#introduction>div{
    /* background-color: red; */
    /* padding-left: 300px; */
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
}
.gradient-background {
  background: linear-gradient(300deg, #ff4c68, #00bfff, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.row {
  margin: 0;
}
.card .card-body h5.card-title {
  color: #00bfff;
  text-align: center;
}
.card .card-body{
  
  text-align: center;
  
}
.section-title>h2{
  color: #00bfff;
}

.card .card-body svg {
  color: #00bfff;
  text-align: center;
  width: 70px;
  height: 70px;
  margin: 25px;
}
#skills{
  background-color: white;
  /* padding: 1rem 0; */
}
#projects{
  background-color: whitesmoke;
  /* padding: 1rem 0; */
}

.card>svg{
  display: grid;
  place-items: center;
}

.carousel-inner>img{
  width: 100px;
  height: 100px;
}

#skills>div>h2{
  margin: 0;
}
#projects>div>h2{
  
  margin: 0;
}
.whatsapp-link{
  color: lightgreen;
}
.telephone-link{
  color: white;
}
.linkedin-link{
  color: #0a66c2;
}
#footer ul>*{

  margin: 0;
  margin-left: 20px;
}

.email-link{
  color: white;
}

@media screen and (max-width: 1000px) {
  #introduction>div {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .roww {
    display: grid;
  }
  #introduction>div {
    display: grid;
    justify-content: center;
  }
  .intro-img {
    margin: auto;
  }
}