html{
    background-color: black;
}
#miles{
    width: 100%;
    border: 5px Solid white;
}
h1{
    
    font-family: "Instrument Serif", serif;
    text-transform: uppercase;
    
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;

}
.text{
    text-align: center;
    color: white;
}